[submodule "dataset/gpuRIR/gpuRIR"]
	path = dataset/gpuRIR
	url = https://github.com/kooBH/gpuRIR.git
[submodule "src/ptUtils"]
	path = src/ptUtils
	url = https://github.com/kooBH/ptUtils.git
[submodule "src/MLDR"]
	path = src/MLDR
	url = https://github.com/kooBH/MLDR.git
[submodule "MATLAB/MLDR"]
	path = MATLAB/MLDR
	url = https://github.com/kooBH/MLDR.git
[submodule "MATLAB/pesq-mex"]
	path = MATLAB/pesq-mex
	url = https://github.com/ludlows/pesq-mex.git
[submodule "src/UNet"]
	path = src/UNet
	url = https://github.com/kooBH/UNet.git
